-- Adiciona colunas para controle individual de GPS no PC e restrição de MAC
ALTER TABLE employees
ADD COLUMN IF NOT EXISTS ignore_gps_on_pc BOOLEAN DEFAULT FALSE,
ADD COLUMN IF NOT EXISTS mac_restriction_enabled BOOLEAN DEFAULT FALSE;

-- Recarrega o schema do PostgREST para o Vercel parar de dar erro de cache
NOTIFY pgrst, 'reload schema';
